{% extends 'base.html.twig' %}

{% block title %}Sortie index{% endblock %}

{% block body %}
    <h1>Liste des sorties</h1>
{#
    {{ form_start(form) }}

    {{ form_end(form) }}
#}
    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Inscrits / Place</th>
                <th>Description</th>
                <th>Date d'enregistrement</th>
                <th>Date d'ouverture de l'inscription</th>
                <th>Date de fermeture de l'inscription</th>
                <th>Etat</th>
                <th>Inscrit</th>
                <th>Est annulée ?</th>
                <th>Date debut sortie</th>
                <th>Date fin sortie</th>
                <th>Organisateur</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sortie in sorties %}
            <tr>
                <td>{{ sortie.nom }}</td>
                <td>{{ sortie.nbInscrit }} / {{ sortie.nbInscriptionMax }}</td>
                <td>{{ sortie.description | slice (0,30) }}</td>
                <td>{{ sortie.dateEnregistrement ? sortie.dateEnregistrement|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ sortie.dateOuvertureInscription ? sortie.dateOuvertureInscription|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ sortie.dateFermetureInscription ? sortie.dateFermetureInscription|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ sortie.etat }}</td>
                <td>{{ sortie.estInscrit ? 'X' : ' ' }}</td>
                <td>{{ sortie.isAnnulee ? 'Oui' : 'Non' }}</td>
                <td>{{ sortie.dateDebutSortie ? sortie.dateDebutSortie|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ sortie.dateFinSortie ? sortie.dateFinSortie|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ sortie.organisateur.prenom }} {{ sortie.organisateur.nom }} </td>
                <td>
                    <a href="{{ path('app_sortie_show', {'id': sortie.id}) }}">Afficher</a>
                    <a href="{{ path('app_sortie_edit', {'id': sortie.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">Sortie non disponible</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_sortie_new') }}">Créer une sortie</a>
{% endblock %}
