{% extends 'base.html.twig' %}

{% block title %}Sortie{% endblock %}

{% block body %}
    <h1>Sortie</h1>

    {% if app.user().id == sortie.organisateur.id %}
        <a href="{{ path('app_sortie_edit', {'id': sortie.id}) }}">Modifier</a>
        {{ include('sortie/_delete_form.html.twig') }}
    {% endif %}

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sortie.id }}</td>
            </tr>
            <tr>
                <th>Organisateur</th>
                <td>{{ sortie.organisateur.prenom }} {{ sortie.organisateur.nom }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ sortie.nom }}</td>
            </tr>
            <tr>
                <th>Nombre maximum d'inscrits</th>
                <td>{{ sortie.nbInscriptionMax }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ sortie.description }}</td>
            </tr>
            <tr>
                <th>Date d'enregistrement</th>
                <td>{{ sortie.dateEnregistrement ? sortie.dateEnregistrement|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date d'ouverture de l'inscription</th>
                <td>{{ sortie.dateOuvertureInscription ? sortie.dateOuvertureInscription|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date de fermeture de l'inscription</th>
                <td>{{ sortie.dateFermetureInscription ? sortie.dateFermetureInscription|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{{ sortie.etat}}</td>
            </tr>
            <tr>
                <th>Est annulée ?</th>
                <td>{{ sortie.isAnnulee ? 'Oui' : 'Non' }}</td>
            </tr>
            <tr>
                <th>Date debut sortie</th>
                <td>{{ sortie.dateDebutSortie ? sortie.dateDebutSortie|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date fin sortie</th>
                <td>{{ sortie.dateFinSortie ? sortie.dateFinSortie|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Lieu</th>
                <td id="lieu">{{ sortie.adresse.nom }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td id="adresse">
                    {{ sortie.adresse.rue }} {{ sortie.adresse.ville.codePostal }} {{ sortie.adresse.ville.nom }}
                    | <a href="javascript:void(0);" onClick="goToAdresse()">Recentrer la carte</a>
                    <span style="visibility: hidden;">
                        <span id="adresse_latitude">{{ sortie.adresse.latitude }}</span>
                        <span id="adresse_longitude">{{ sortie.adresse.longitude }}</span>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>

    <div id="map" style="height: 500px;"></div>

    {% block stylesheets %}
        <link rel="stylesheet"
              href="https://unpkg.com/leaflet@1.9.2/dist/leaflet.css"
              integrity="sha256-sA+zWATbFveLLNqWO2gtiw3HL/lh1giY/Inf1BJ0z14="
              crossorigin="" />
    {% endblock %}
    {% block javascripts %}
        <script src="https://unpkg.com/leaflet@1.9.2/dist/leaflet.js"
                integrity="sha256-o9N1jGDZrf5tS+Ft4gbIK7mYMipq9lqpVJ91xHSyKhg="
                crossorigin="">
        </script>
    {% endblock %}
    <script type="text/javascript">
        // Initialize map
        let map = L.map('map');
        map.setView([{{ sortie.adresse.latitude }}, {{ sortie.adresse.longitude }}], 16);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        function showLieu(latitude, longitude) {
            let adresseCoordonnees = [latitude, longitude];
            map.flyTo(adresseCoordonnees, 16);
            let icon = L.icon({
                iconUrl: '{{ asset('assets/images/carte/marker-icon-2x.png') }}',
                iconSize: [120, 35],
                iconAnchor: [60, 34],
                popupAnchor: [0, -34]
            });
            L.marker(adresseCoordonnees, {icon: icon}).addTo(map)
                .bindPopup('{{ sortie.nom }}')
                .openPopup();
        }

        showLieu({{ sortie.adresse.latitude }}, {{ sortie.adresse.longitude }});

        function goToAdresse() {
            showLieu(
                document.getElementById("adresse_latitude").innerHTML,
                document.getElementById("adresse_longitude").innerHTML
            )
        }

    </script>

    <h2>Participants</h2>
    {% for utilisateur in inscrits %}
        {% include 'utilisateur/utilisateurItem.html.twig' %}
    {% endfor %}

{% endblock %}
