<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">{{ sortie.nom }}</h5>
        <p>{{ sortie.description | slice (0,100) }}...</p>
        <h6 class="card-subtitle mb-2 text-muted">Organisateur : {{ sortie.organisateur.prenom }} {{ sortie.organisateur.nom }}</h6>
        <div>Info pratiques :
            <p>
                Le {{ sortie.dateDebutSortie ? sortie.dateDebutSortie|date('d F Y') : '' }}<br>
                {{ sortie.dateDebutSortie ? sortie.dateDebutSortie|date('à H\\hi') : '' }}
                durant {{ sortie.duree | date('%d\j %h\h%I') }}
            </p>
            <p>
                Lieu : {{ sortie.adresse.nom }}
            </p>
        </div>
        <hr>
        {% if sortie.estInscrit %}
            <h6 style="color: green;" class="action_sortie_participation" data-sortie-id="{{ sortie.id }}">Je participe</h6>
        {% else %}
            <h6 style="color: red;" class="action_sortie_participation" data-sortie-id="{{ sortie.id }}">Je ne participe pas</h6>
        {% endif %}
        {% if sortie.etat == "OUVERT" or sortie.etat == "CREATION" %}
        <a href="javascript:void(0);"><span class="action_sortie_sinscrire" data-sortie-id="{{ sortie.id }}">
            {% if sortie.estInscrit %}
                Se désister
            {% else %}
                S'inscrire
            {% endif %}
        </span></a>
        {% endif %}
        <h6 class="card-subtitle mb-2 text-muted">
            <span class="action_sortie_nb_inscrit" data-sortie-id="{{ sortie.id }}">{{ sortie.nbInscrit }}</span> / {{ sortie.nbInscriptionMax }}
        </h6>
        {% if sortie.etat == "OUVERT" or sortie.etat == "CREATION" %}
            <div>Période d'inscription
                <p>{{ sortie.dateOuvertureInscription ? sortie.dateOuvertureInscription|date('d F Y à H\\hi') : '' }}</p>
                <p>{{ sortie.dateFermetureInscription ? sortie.dateFermetureInscription|date('d F Y à H\\hi') : '' }}</p>
            </div>
        {% else %}
            Inscription fermée
        {% endif %}
        <hr>
        <a href="{{ path('app_sortie_show', {'id': sortie.id}) }}">Afficher les détails</a>
    </div>
</div>
